.TodoWrapper{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.CompletedButton{
    padding: 10px 20px;
    background-color: #0077b6;
    border: 1px solid #005d8f;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.Arrow{
    transition: transform 0.2s;
}

.ArrowTurn{
    transform: rotateZ(90deg);
}

.CompletedList{
    display: none;
}
.CompletedList.ListActive{
    display: block;
}