.todoElement{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  rgba(0,0,0,0.5);
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
    border: 1px solid lightgrey;

}
.todoElement:hover{
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    background-color: rgb(240, 240, 255);
}
.completed>.todoTitle{
    text-decoration: line-through;
}

.todoTitle{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 110%;
    font-weight: bold;
    padding: 20px 0 20px 60px;
}

.todoDuration{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    color: orange;
}

.todoElement .check{
    height: 40px;
    width: 40px;
}

.todoElement .check.completed:after {
border-width: 20px;
}