.addTodoWrapper{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}
.addTodoWrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
}

.addTodo{
    display: relative;
    height: 500px;
    max-height: 80%;
    width: 500px;
    max-width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}