.addTodoWrapper{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 3;
    background-color: #0077b6;
    color: white;
}
.addTodoWrapper *{
    padding: 10px 5px;
}
.addTodoWrapper span:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);

}
.addTodoWrapper input{
    width: 70%;
    border: none;
    background-color: #0077b6;
    color: white;
}
.addTodoWrapper input:focus{
    border: none;
}
.addTodoWrapper input::placeholder{
    color: white;
}
.adderIcon{
}
.adderIcon:hover{
}